@model UniversityEvents.Application.CommonModel.PaginationModel<dynamic>
@using UniversityEvents.Application.Helpers

@{
    var pages = PaginationHelper.GeneratePageList(Model);
}
<div class="pages-container">
    <div class="pages">
        <button class="page-btn" @(Model.PageNumber == 1 ? "disabled" : "") data-page="1">«</button>
        <button class="page-btn" @(Model.PageNumber == 1 ? "disabled" : "") data-page="@(Model.PageNumber - 1)">‹</button>
        @foreach (var p in pages)
        {
            if (p is string)
            {
                <button class="page-btn" disabled>@p</button>
            }
            else
            {
                int pageNum = (int)p;
                <button class="page-btn @(pageNum == Model.PageNumber ? "active" : "")" data-page="@pageNum">@pageNum</button>
            }
        }
        <button class="page-btn" @(Model.PageNumber == Model.TotalPages ? "disabled" : "") data-page="@(Model.PageNumber + 1)">›</button>
        <button class="page-btn" @(Model.PageNumber == Model.TotalPages ? "disabled" : "") data-page="@Model.TotalPages">»</button>
    </div>
</div>
